$padding: clamp(0.625rem, -0.4688rem + 2.5vw, 1.25rem);

//font
$font-family: "Onest", sans-serif;
$font-size: 16px;

//colors
$primary-color: #c3185d;
$primary-800-color: #ac1156;
$primary-light-200-color: #f3d1de;
$primary-light-100-color: #fbf6f8;
$primary-dark-color: #53072f;

$secondary-color: #eddfc8;
$secondary-light-400-color: #f1e6d4;
$secondary-light-300-color: #f5eddf;
$secondary-light-200-color: #f9f3eb;
$secondary-light-100-color: #fcfaf7;

$black-color: #2c2c2c;
$black-secondary-color: #707070;
$black-light-color: #9d9d9d;
$black-light-100-color: #f2f2f2;

$white-opacity-5-color: #ffffff0d;
$white-opacity-10-color: #ffffff1a;
$white-opacity-20-color: #ffffff33;
$white-opacity-40-color: #ffffff66;
$white-opacity-60-color: #ffffff99;
$white-opacity-80-color: #ffffffcc;

$gradient: linear-gradient(
  107.93deg,
  #ea5992 1.44%,
  #e47b86 50.72%,
  #e5d1b0 100%
);
$gradient-red: linear-gradient(90deg, #c2185b 0%, #ef4487 100%);
$gradient-yellow: linear-gradient(180deg, #fcfaf7 0%, #fbeed8 100%);

@import "vendor/mixins";
@import "vendor/fonts";
@import "vendor/_normalize";

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  background: $gradient;
  color: $black-color;
  overflow-x: hidden;
  margin: 0 auto;
  min-inline-size: 285px;
  max-width: 100vw;

  &::-webkit-scrollbar {
    width: 10px;

    @media screen and (width<=500px) {
      width: 5px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-light-100-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $primary-color;
  }
}

.main-title {
  font-size: clamp(2.25rem, -5.625rem + 18vw, 5.625rem);
  font-family: "Grotesque", sans-serif;
  max-width: 880px;
  margin-block-end: clamp(1.5rem, -2rem + 8vw, 3rem);
  line-height: 1;
  font-weight: 600;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  color: $black-color;
  margin-bottom: 60px;
  font-family: "Grotesque", sans-serif;
  gap: 24px;

  h2, p {
    font-weight: inherit;
    font-size: clamp(2rem, -2.0833rem + 9.3333vw, 3.75rem);
    color: inherit;
    line-height: 1;
    max-width: 700px;
  }

  @media (max-width: 900px) {
    margin-block-end: 32px;
    gap: 16px;
  }

  span {
    position: relative;
    padding: 15px 20px;
    border: 1px solid $secondary-light-400-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: clamp(0.75rem, 0.1667rem + 1.3333vw, 1rem);
    width: fit-content;
    line-height: 1;
    box-shadow: 1px 2px 6px -3px #00000021;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background-image: url(../img/icons/clever.svg);
    }

    @media (max-width: 900px) {
      padding: 12px 16px;
    }
  }
}

html {
  scroll-behavior: smooth;
}

/* GO TO TOP BUTTON */
#toTop {
  pointer-events: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 5;
  cursor: pointer;
  transition:
    opacity 0.4s,
    scale 0.3s ease-out;
  opacity: 0;
  display: none;
  padding: 5px;

  &:hover {
    scale: 1.05;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid $black-light-100-color;

    svg {
      flex-shrink: 0;
    }
  }

  @media (max-width: 900px) {
    right: 20px;
    bottom: 0;
    border-radius: 15px;

    & > div {
      width: 52px;
    }
  }

  &.active {
    pointer-events: all;
    display: block;
  }

  & div:active,
  & div:focus {
    animation: 1s infinite alternate breath;
  }
}

@keyframes breath {
  0% {
    outline: #c2185c5d solid 0.001em;
  }

  100% {
    outline: #c2185c33 solid 0.45em;
  }
}
/* /END GO TO TOP BUTTON */

.hide {
  display: none !important;
}

.hide-item__height,
.hide-item__height--2 {
  transition: height 0.3s linear;
  overflow: hidden;

  @media (width>700px) {
    &:not(.menu__subnav) {
      height: 0;
    }
  }

  @media (width<=700px) {
    height: 0;
  }
}

.input {
  padding: 24px;
  border-radius: 20px;
  font-size: clamp(0.875rem, 0.7rem + 0.4vw, 1rem);
  outline: 1px solid transparent;
  border: 1px solid $black-light-100-color;
  transition: outline 350ms;

  &:active,
  &:focus {
    outline: 1px solid $primary-color;
  }

  &::placeholder {
    opacity: 0.5;
  }

  @media screen and (width<=1000px) {
    padding: 20px;
  }

  @media screen and (width<=800px) {
    border-radius: 15px;
  }
}

.point-mark {
  background-color: $white-opacity-10-color;
  border: 1px solid $white-opacity-10-color;
  border-radius: 10px;
  width: 40px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid transparent;
  transition:
    scale 300ms,
    outline 300ms;

  &_40 {
    width: clamp(2.25rem, 1.5208rem + 1.6667vw, 2.5625rem);
  }

  &_52 {
    width: 52px;
  }

  &_60 {
    width: 60px;
  }

  &_64 {
    width: clamp(2.75rem, -0.1667rem + 6.6667vw, 4rem);
  }

  &_light {
    background-color: #fff;
  }

  &_orange {
    background-color: $secondary-color;
  }

  &_pr {
    background-color: $primary-color;
    color: #fff;
  }

  &_pr-light {
    background-color: $primary-light-100-color;
    border: 1px solid $primary-light-200-color;
  }

  &_arrow {
    &::before {
      content: "";
      background-image: url(../img/icons/arrow-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      height: 14px;
      width: 7px;
      transition:
        opacity 300ms,
        outline 300ms;
      outline: 3px solid transparent;
    }

    &_left {
      transform: rotate(180deg);
    }

    &:not(.swiper-button-disabled):hover,
    &:not(.swiper-button-disabled):focus,
    &:not(.swiper-button-disabled):active {
      outline: 3px solid $primary-light-200-color;
    }

    &.swiper-button-disabled::before {
      opacity: 0.5;
    }
  }

  &.point-phone::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/phone.svg);
  }

  &.point-phone-red::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/phone-red.svg);
  }

  &.point-clock::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/clock.svg);
  }

  &.point-clock-red::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/clock-red.svg);
  }

  &.point-liz::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/liz.svg);
  }

  &.point-liz-red::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/liz-red.svg);
  }

  &.point-vk::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/vk.svg);
  }

  &.point-vk-light::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/vk-light.svg);
  }

  &.point-tg::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/tg.svg);
  }

  &.point-eye::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/eye.svg);
  }

  &.point-map::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/map.svg);
  }

  &.point-map-red::before {
    @include point-mark-psevdo;
    background-image: url(../img/icons/map-red.svg);
  }
}

a.point-mark:hover {
  scale: 1.025;
  outline: 1px solid #ff84b5;
}

.btn {
  padding: 18px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  transition: 300ms ease-out;

  &_primary {
    background-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: #ac1156;
    }
  }

  &_white {
    background-color: #fff;
    color: $black-color;
  }

  &_light {
    background-color: $white-opacity-10-color;
    border: 1px solid $white-opacity-10-color;
  }

  &_pink {
    background-color: $primary-light-100-color;
    border: 1px solid $primary-light-200-color;
    color: $primary-color;
  }

  &_tg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &_point {
    display: flex;
    align-items: center;
    gap: 10px;

    &::after {
      content: "";
      display: block;
      background-image: url(../img/icons/cuboid-light.svg);
      background-position: center center;
      background-repeat: no-repeat;
      width: 14px;
      flex-shrink: 0;
      aspect-ratio: 1 / 1;
      transition: transform 0.4s ease-in-out;
    }
  }

  &:hover {
    scale: 1.015;
    outline: 1px solid #ff84b5;
  }
}

.swiper-pagination {
  translate: 0 8px;

  > span {
    background-color: $primary-light-200-color;
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    transform: rotate(45deg);

    &.swiper-pagination-bullet-active {
      background-color: $primary-color;
    }

    @media screen and (width<=900px) {
      width: 10px;
      height: 10px;
    }
  }
}

.section-content--white {
  background-color: #fff;
  border-radius: 60px;
  position: relative;
  z-index: 1;
  margin-block: clamp(-3.5rem, 0.4167rem + -6.6667vw, -3.75rem);
  padding-block: clamp(3.75rem, -10.8333rem + 33.3333vw, 10rem);

  @media screen and (width<=900px) {
    border-radius: 40px;
  }
}

.section-content--orange {
  background-color: $secondary-light-100-color;
  padding-block: clamp(3.75rem, -10.8333rem + 33.3333vw, 10rem);
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Grotesque", sans-serif;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.75rem, 0.575rem + 0.4vw, 0.875rem);
  color: $black-secondary-color;
  position: relative;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &-mark {
    justify-content: center;
    padding: 4px;
    width: 20px;
    border: 1px solid $primary-light-200-color;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    transition: 0.3s;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 8px;
      background: url(../img/icons/check.svg) center center / cover
        no-repeat;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-mark {
    background-color: $primary-light-100-color;
  }

  input[type="checkbox"]:checked ~ .checkbox-mark::before {
    opacity: 1;
  }

  a {
    text-decoration: underline;
    color: $primary-color;
  }
}

.checkbox-mark,
.input__radio {
  position: relative;
  align-items: center;
  display: flex;
}

@import "vendor/header";
@import "vendor/intro";
@import "vendor/digits";
@import "vendor/steps";
@import "vendor/condition";
@import "vendor/metodic";
@import "vendor/text";
@import "vendor/price";
@import "vendor/calc-serv";
@import "vendor/faq";
@import "vendor/doctor";
@import "vendor/liz-gal";
@import "vendor/form";


@import "vendor/footer";
@import "vendor/animate";
@import "vendor/popups.scss";
