<div class="calc-serv">
  <div class="container">
    <div class="calc-serv__wrapper to_animate right-fade">
      <div>
        <div class="section-title calc-serv__title">
          <span>Рассчет услуг</span>
          <h2>Индивидуальный рассчет услуг</h2>
        </div>
        <div class="calc-serv__categories">
          <div class="calc-serv__categories__top">Лечение в стационаре</div>
          <div class="calc-serv__categories__bottom">
            <div class="calc-serv__category">
              Реабилитация 
            </div>
            <div class="calc-serv__category">
              Лечение в стационаре
            </div>
            <div class="calc-serv__category">
              Выездные услуги
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="calc-serv__content">
          <div class="calc-serv__list">
            <div class="calc-serv__list-top">
              <div>
                <span>Стоимость от</span>
                <p class="calc-serv__price">45 001 ₽</p>
                <span>Что включено:</span>
                <div class="calc-serv__adv">
                  <span>Выезд</span><span>Осмотр</span><span>Лекарства</span>
                </div>
              </div>
              <picture class="calc-serv__picture">
                <source srcset="/assets/img/sections/calc-serv-pic-1.png" type="image/webp">
                <img src="/assets/img/sections/calc-serv-pic-1.png" alt="Лечение в стационаре">
              </picture>
            </div>
            <div class="calc-serv__list-bottom">
              <p>
                Оставьте ваш номер телефона, наши специалисты свяжутся с вами и расскажут более подробно об услуге
              </p>
              <div>
                <input type="tel" class="input" placeholder="Номер телефона" name="params[phone][]" required="">
                <button href="#" class="btn calc-serv__btn btn_primary btn_point">
                  <span>Отправить</span>
                </button>
              </div>
              <label class="checkbox">
                <input type="checkbox" checked="checked" required="">
                <span class="checkbox-mark"></span>
                <span>Отправляя заявку, вы соглашаетесь с <a href="/politika-konfidentsialnosti/"
                    rel="nofollow">политикой конфиденциальности</a></span>
              </label>
            </div>
          </div>
          <div class="calc-serv__list">
            <div class="calc-serv__list-top">
              <div>
                <span>Стоимость от</span>
                <p class="calc-serv__price">45 002 ₽</p>
                <span>Что включено:</span>
                <div class="calc-serv__adv">
                  <span>Выезд</span><span>Осмотр</span><span>Лекарства</span>
                </div>
              </div>
              <picture class="calc-serv__picture">
                <source srcset="/assets/img/sections/calc-serv-pic-1.png" type="image/webp">
                <img src="/assets/img/sections/calc-serv-pic-1.png" alt="Лечение в стационаре">
              </picture>
            </div>
            <div class="calc-serv__list-bottom">
              <p>
                Оставьте ваш номер телефона, наши специалисты свяжутся с вами и расскажут более подробно об услуге
              </p>
              <div>
                <input type="tel" class="input" placeholder="Номер телефона" name="params[phone][]" required="">
                <button href="#" class="btn calc-serv__btn btn_primary btn_point">
                  <span>Отправить</span>
                </button>
              </div>
              <label class="checkbox">
                <input type="checkbox" checked="checked" required="">
                <span class="checkbox-mark"></span>
                <span>Отправляя заявку, вы соглашаетесь с <a href="/politika-konfidentsialnosti/"
                    rel="nofollow">политикой конфиденциальности</a></span>
              </label>
            </div>
          </div>
          <div class="calc-serv__list">
            <div class="calc-serv__list-top">
              <div>
                <span>Стоимость от</span>
                <p class="calc-serv__price">45 003 ₽</p>
                <span>Что включено:</span>
                <div class="calc-serv__adv">
                  <span>Выезд</span><span>Осмотр</span><span>Лекарства</span>
                </div>
              </div>
              <picture class="calc-serv__picture">
                <source srcset="/assets/img/sections/calc-serv-pic-1.png" type="image/webp">
                <img src="/assets/img/sections/calc-serv-pic-1.png" alt="Лечение в стационаре">
              </picture>
            </div>
            <div class="calc-serv__list-bottom">
              <p>
                Оставьте ваш номер телефона, наши специалисты свяжутся с вами и расскажут более подробно об услуге
              </p>
              <div>
                <input type="tel" class="input" placeholder="Номер телефона" name="params[phone][]" required="">
                <button href="#" class="btn calc-serv__btn btn_primary btn_point">
                  <span>Отправить</span>
                </button>
              </div>
              <label class="checkbox">
                <input type="checkbox" checked="checked" required="">
                <span class="checkbox-mark"></span>
                <span>Отправляя заявку, вы соглашаетесь с <a href="/politika-konfidentsialnosti/"
                    rel="nofollow">политикой конфиденциальности</a></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>