<section class="condition container_bl">
  <div class="container">
    <div class="section-title">
      <span>Комфортные условия</span>
      <h2>Как живут наши пациенты
        в центре</h2>
    </div>
    <div class="condition__inner condition__slider">
      <div class="condition__list swiper-wrapper">
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-1.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-1.jpg" alt="">
            </picture>
            <p class="condition__title">Комфортабельное проживание</p>
            <p class="condition__desc">Уютные комнаты на 2-3 человека
              с современными ремонтом, кондиционерами, телевизорами и всем необходимым для отдыха и восстановления.
              Отдельные санузлы, ежедневная уборка</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-2.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-2.jpg" alt="">
            </picture>
            <p class="condition__title">5-ти разовое питание</p>
            <p class="condition__desc">Сбалансированное диетическое меню, разработанное нутрициологами. Свежие продукты
              и домашняя кухня. Учитываем индивидуальные предпочтения и медицинские показания</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-3.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-3.jpg" alt="">
            </picture>
            <p class="condition__title">Спорт и активность</p>
            <p class="condition__desc">Современный спортивный зал, тренажеры, йога, прогулки на свежем воздухе в
              охраняемой зеленой зоне площадью 2 га. Ежедневные занятия
              с инструктором</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-4.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-4.jpg" alt="">
            </picture>
            <p class="condition__title">Библиотека и обучение</p>
            <p class="condition__desc">Обширная библиотека по психологии, саморазвитию, художественная литература.
              Регулярные образовательные лекции, семинары
              и мастер-классы от ведущих специалистов</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-1.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-1.jpg" alt="">
            </picture>
            <p class="condition__title">Комфортабельное проживание</p>
            <p class="condition__desc">Уютные комнаты на 2-3 человека
              с современными ремонтом, кондиционерами, телевизорами и всем необходимым для отдыха и восстановления.
              Отдельные санузлы, ежедневная уборка</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-1.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-1.jpg" alt="">
            </picture>
            <p class="condition__title">5-ти разовое питание</p>
            <p class="condition__desc">Сбалансированное диетическое меню, разработанное нутрициологами. Свежие продукты
              и домашняя кухня. Учитываем индивидуальные предпочтения и медицинские показания</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-1.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-1.jpg" alt="">
            </picture>
            <p class="condition__title">Спорт и активность</p>
            <p class="condition__desc">Современный спортивный зал, тренажеры, йога, прогулки на свежем воздухе в
              охраняемой зеленой зоне площадью 2 га. Ежедневные занятия
              с инструктором</p>
          </div>
        </div>
        <div class="condition__item swiper-slide">
          <div>
            <picture class="condition__pic">
              <source src="/assets/img/sections/condition-1.webp" type="image/webp">
              <img loading="lazy" decoding="async" src="/assets/img/sections/condition-1.jpg" alt="">
            </picture>
            <p class="condition__title">Библиотека и обучение</p>
            <p class="condition__desc">Обширная библиотека по психологии, саморазвитию, художественная литература.
              Регулярные образовательные лекции, семинары
              и мастер-классы от ведущих специалистов</p>
          </div>
        </div>
      </div>
      <button type="button"
        class="condition__button point-mark point-mark_light point-mark_arrow point-mark_arrow_left point-mark_60 slider-sl__prev"></button>
      <button type="button"
        class="condition__button point-mark point-mark_light point-mark_arrow point-mark_60 slider-sl__next"></button>
       <div class="swiper-pagination"></div>
    </div>
  </div>
</section>