<div class="contacts">
  <div class="container">
    <div class="contacts__title section-title">
      <span>Наши контакты</span>
      <h2>Приходите к нам
        на консультацию</h2>
    </div>
    <div class="contacts__top">
      <btn data-path="popup-consult" class="btn btn_primary contacts__route popup-btn">
        Построить маршрут
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="m6 8.6 1.6 4.5a1 1 0 0 0 1.7 0l4.4-11c.3-.8-.5-1.6-1.2-1.3L1.4 5c-.9.3-.9 1.5 0 1.8z" />
        </svg>
      </btn>
      <btn data-path="popup-consult" class="btn btn_pink contacts__taxi popup-btn">
        Вызвать такси до центра
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="none">
          <path stroke="#c2185b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M.8 10.3V7.9q.1-1.8 2-2m-2 4.4c0 1 .8 2 2 2h12c1 0 2-1 2-2m-16 0v3q0 1.3 1.3 1.4h1.3q1.3-.1 1.4-1.3v-1.1m12-2V7.9a2 2 0 0 0-2-2h-12m14 4.4v3q-.1 1.3-1.4 1.4h-1.3q-1.2-.1-1.3-1.3v-1.1m-10-6.4 1-4.1q.3-1 1.3-1h7.4q.8 0 1.2.9l1.4 4.2m-12 3h2.3m6.7 0h2.3" />
        </svg>
      </btn>
    </div>
    <div class="contacts__inner">
      <div class="contacts__left">
        <p class="contacts__left__caption">Работаем 24/7</p>
        <div>
          <p class="contacts__left__title">Обратитесь к профессионалам</p>
          <p class="contacts__left__desc">Если вам нужна помощь, свяжитесь с нами по номеру телефона или приходите лично
            в
            центр</p>
          <div class="contacts__info">
            <div class="contacts__point">
              <div class="point-mark point-mark_40 point-map-red">
              </div>
              <div class="contacts__info__content">
                <p>Адрес реабилитационного центра:</p>
                <p>Краснодар, ул. Красных Партизан, 105</p>
              </div>
            </div>
            <a href="tel:" class="contacts__phone">
              <div class="point-mark point-mark_40 point-phone-red">
              </div>
              <div class="contacts__info__content">
                <p>Бесплатный номер:</p>
                <p>+7 (861) 200-28-28</p>
              </div>
            </a>
            <div class="contacts__address">
              <div class="point-mark point-mark_40">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
                  <path fill="#c2185b"
                    d="M7 3.6a.8.8 0 0 0 1.5 0H7M8.5.8A.8.8 0 0 0 7 .8h1.5M7 14.8a.8.8 0 0 0 1.5 0H7m1.5-2.9A.8.8 0 0 0 7 12h1.5M11.9 7a.8.8 0 0 0 0 1.5V7m2.8 1.5a.8.8 0 0 0 0-1.5v1.5M.8 7a.8.8 0 0 0 0 1.5V7m2.8 1.5a.8.8 0 0 0 0-1.5v1.5m9.9-.8h-.8c0 2.7-2.2 4.9-4.8 4.9v1.5c3.5 0 6.3-2.8 6.3-6.4zm-5.6 5.6v-.7a5 5 0 0 1-4.9-4.9H1.4c0 3.6 2.8 6.4 6.4 6.4zM2.2 7.8h.7C2.9 5.1 5.1 3 7.8 3V1.4a6.3 6.3 0 0 0-6.4 6.3zm5.6-5.6V3c2.6 0 4.8 2.2 4.8 4.8h1.5c0-3.5-2.8-6.3-6.3-6.3zm0 1.4h.7V.8H7v2.8zm0 11.3h.7v-2.9H7v2.8zm4.1-7v.7h2.8V7H12zM.8 7.8v.7h2.8V7H.8zm9 0h-.7Q9 9 7.8 9v1.5c1.5 0 2.8-1.3 2.8-2.8zm-2 2v-.7Q6.5 9 6.4 7.8H4.9c0 1.5 1.3 2.8 2.8 2.8zm-2.1-2h.7q.1-1.3 1.3-1.4V4.9A3 3 0 0 0 5 7.7zm2-2.1v.7q1.3.1 1.4 1.3h1.5C10.6 6.3 9.3 5 7.8 5z" />
                </svg>
              </div>
              <div class="contacts__info__content">
                <p>Как добраться:</p>
                <p>Автобусы: 4, 10, 119, 155. Остановка "Красных Партизан"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__map map">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>