<div class="digits">
  <div class="container">
    <div class="section-title">
      <span>Преимущества</span>
      <h2>Цифры, которые показывают результат</h2>
    </div>
    <div class="digits__inner">
      <div class="to_animate left-fade">
        <p class="digits__title">Более 3500</p>
        <p class="digits__desc">Жизней пациентов спасено за время работы центра</p>
        <picture>
          <source src="/assets/img/sections/digits-doc.webp" type="svg/xml">
          <img src="/assets/img/sections/digits-doc.png" alt="заботимся о пациентах">
        </picture>
      </div>
      <div>
        <p class="digits__title">100%</p>
        <p class="digits__desc">гарантия полной анонимности без риска утечки данных</p>
        <picture>
          <source src="/assets/img/sections/digits-lock.webp" type="svg/xml">
          <img src="/assets/img/sections/digits-lock.png" alt="гарантия анонимности">
        </picture>
      </div>
      <div class="to_animate right-fade">
        <p class="digits__title">9/10</p>
        <p class="digits__desc">пациентов находятся в стойкой ремиссии после лечения в нашем центре</p>
        <picture>
          <source src="/assets/img/sections/digits-cheese.webp" type="svg/xml">
          <img src="/assets/img/sections/digits-cheese.png" alt="статистика">
        </picture>
      </div>
      <div class="to_animate down-fade">
        <p class="digits__title">12 лет</p>
        <p class="digits__desc">успешной работы в Краснодарском крае в сфере наркологии и бесценного опыта, накопленного 
в помощи людям преодолевать зависимости</p>
        <picture>
          <source src="/assets/img/sections/digits-cal.webp" type="svg/xml">
          <img src="/assets/img/sections/digits-cal.png" alt="бесценный опыт">
        </picture>
      </div>
    </div>
  </div>
</div>