<section class="doctor-sl container_b">
  <div class="container">
    <div class="section-title">
      <span>Наши эксперты</span>
      <p>Ведущие специалисты и профессионалы дела</p>
    </div>
    <a href="#" class="btn doctor-sl__link btn_primary btn_point">
      <span>Все врачи</span>
    </a>
    <div class="doctor-sl__inner doctor-sl__slider">
      <div class="doctor-sl__list swiper-wrapper">
        <a class="doctor-sl__item swiper-slide">
          <div>
            <div class="doctor-sl__pic">
              <picture>
                <source src="/assets/img/sections/psih-test.webp" type="image/webp">
                <img src="/assets/img/sections/psih-test.png" alt="Главный врач Клиники">
              </picture>
              <span class="doctor-sl__exp">Стаж 18 лет</span>
            </div>
            <p class="doctor-sl__name">Корчукова Екатерина Анатольевна</p>
            <p class="doctor-sl__desc">Главный врач, психиатр-нарколог</p>
            <button class="btn btn_pink doctor-sl__btn popup-btn" data-path="popup-consult">Записаться на прием</button>
          </div>
        </a>
        <a class="doctor-sl__item swiper-slide">
          <div>
            <div class="doctor-sl__pic">
              <picture>
                <source src="/assets/img/sections/psih-test.webp" type="image/webp">
                <img src="/assets/img/sections/psih-test.png" alt="Главный врач Клиники">
              </picture>
              <span class="doctor-sl__exp">Стаж 18 лет</span>
            </div>
            <p class="doctor-sl__name">Корчукова Екатерина Анатольевна</p>
            <p class="doctor-sl__desc">Главный врач, психиатр-нарколог</p>
            <button class="btn btn_pink doctor-sl__btn popup-btn" data-path="popup-consult">Записаться на прием</button>
          </div>
        </a>
        <a class="doctor-sl__item swiper-slide">
          <div>
            <div class="doctor-sl__pic">
              <picture>
                <source src="/assets/img/sections/psih-test.webp" type="image/webp">
                <img src="/assets/img/sections/psih-test.png" alt="Главный врач Клиники">
              </picture>
              <span class="doctor-sl__exp">Стаж 18 лет</span>
            </div>
            <p class="doctor-sl__name">Корчукова Екатерина Анатольевна</p>
            <p class="doctor-sl__desc">Главный врач, психиатр-нарколог</p>
            <button class="btn btn_pink doctor-sl__btn popup-btn" data-path="popup-consult">Записаться на прием</button>
          </div>
        </a>
        <a class="doctor-sl__item swiper-slide">
          <div>
            <div class="doctor-sl__pic">
              <picture>
                <source src="/assets/img/sections/psih-test.webp" type="image/webp">
                <img src="/assets/img/sections/psih-test.png" alt="Главный врач Клиники">
              </picture>
              <span class="doctor-sl__exp">Стаж 18 лет</span>
            </div>
            <p class="doctor-sl__name">Корчукова Екатерина Анатольевна</p>
            <p class="doctor-sl__desc">Главный врач, психиатр-нарколог</p>
            <button class="btn btn_pink doctor-sl__btn popup-btn" data-path="popup-consult">Записаться на прием</button>
          </div>
        </a>
      </div>
      <button type="button"
        class="doctor-sl__button point-mark point-mark_light point-mark_arrow point-mark_arrow_left point-mark_60 slider-sl__prev"></button>
      <button type="button"
        class="doctor-sl__button point-mark point-mark_light point-mark_arrow point-mark_60 slider-sl__next"></button>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>