<section class="faq container_b">
  <div class="faq__wrap">
    <div class="faq__top">
      <div class="section-title faq__title">
        <span>FAQ</span>
        <h2>Вопросы, ответы на которые хотят знать</h2>
      </div>
      <a href="#" class="btn faq__link btn_primary btn_point">
        <span>Все вопросы</span>
      </a>
    </div>
    <div class="faq__content">
      <ul class="faq__list pag-list">
        <li class="faq__item">
          <div class="faq__top-container">
            <div class="faq__subtitle__wrapper">
              <p class="faq__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq__btn faq__btn_open point-mark point-mark_60"></button>
          </div>
          <div class="faq__bottom-container">
            <div class="faq__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__top-container">
            <div class="faq__subtitle__wrapper">
              <p class="faq__subtitle">Можно ли вылечить алкоголизм?</p>
            </div>
            <button class="faq__btn faq__btn_open point-mark point-mark_60"></button>
          </div>
          <div class="faq__bottom-container">
            <div class="faq__bottom-text">
              <p>Алкоголизм считается неизлечимым заболеванием, но его можно эффективно контролировать.
                Длительное
                воздержание и поддержание здорового образа жизни могут помочь управлять симптомами и
                предотвращать
                рецидивы.</p>
            </div>
          </div>
        </li>

      </ul>
      <button class="faq__content-btn btn_more">
        <p>смотреть еще</p>
        <div class="faq__btn faq__btn_open point-mark"><span></span><span></span></div>
      </button>

    </div>
  </div>
</section>