<div class="our-chance">
  <div class="container">
    <div class="our-chance__inner">
      <div>
        <div>
          <div class="section-title our-chance__title">
            <span>Ваш шанс</span>
            <p>Начните новую главу своей жизни сегодня</p>
          </div>
          <div class="our-chance__desc">В нашем центре вы получите профессиональную помощь, поддержку 
и заботу без осуждения. Мы помогаем вернуть контроль над жизнью 
и обрести настоящую свободу от зависимости</div>
        </div>
          <a href="tel:+78612002828" class="our-chance__phone">
            <div class="point-mark point-mark_40 point-mark_light">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><path stroke="#c2185b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.5 4a5 5 0 0 1 4 4M9.6.8a9 9 0 0 1 7.2 7M15.4 15l-1.2 1.2q-.6.7-1.5.7h-.2q-1.6-.3-3-1a17 17 0 0 1-8.3-9Q.6 5.6.8 4.6q0-.6.5-1.1L2.6 2l.6-.3.5.3.7.7.4.3 1 1q.6.7 0 1.3l-.3.3-.4.4q0 0 0 0-.4.5-.2.8 0 0 0 0 .4 1 1.2 2h0a14 14 0 0 0 3.9 3.4l.4.2q0 0 0 0l.4.1.6-.2.7-.8.6-.3q.3 0 .5.3 0 0 0 0l2.2 2.1c.4.4 0 1.2 0 1.2"/></svg>
            </div>
            <p>+7 (861) 200-28-28</p>
          </a>
      </div>
      <form class="form our-chance__form">
        <div href="/" class="form__logo logo">
          <picture class="logo__picture">
            <source srcset="/assets/img/logo/logo.webp" type="image/webp">
            <source srcset="/assets/img/logo/logo.svg" type="image/svg+xml">
            <img src="/assets/img/logo/logo.png" alt="Логотип">
          </picture>
          <div class="logo__title">
            <span>Дней</span>
            <span>Реабилитационный центр</span>
          </div>
        </div>
        <p class="form__desc">
          Оставьте ваш номер телефона, наши специалисты свяжутся с вами и расскажут более подробно об услуге
        </p>
        <div class="form__inputs">
          <input type="text" class="input" placeholder="Имя" name="params[text][]" required="">
          <input type="tel" class="input" placeholder="Номер телефона" name="params[phone][]" required="">
        </div>
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Я соглашаюсь на переда чу персональных данных согласно <a href="/politika-konfidentsialnosti/" rel="nofollow">политике конфиденциальности</a> и <a href="#">пользовательскому соглашению</a></span>
        </label>
        <btn href="#" class="btn form__btn btn_primary btn_point">
          <span>Отправить</span>
        </btn>
      </form>
    </div>
  </div>
</div>