<div class="red-form">
  <div class="container">
    <div class="red-form__inner">
      <div>
        <div>
          <div class="section-title red-form__title">
            <span>Вопрос</span>
            <p>У вас остались вопросы? Тогда смело их задавайте</p>
          </div>
          <div class="red-form__desc">Наши специалисты готовы ответить на все ваши вопросы и провести бесплатную
            консультацию.</div>
        </div>
        <div class="red-form__bottom">
          <p class="red-form__desc">Или можете связаться с нами другими доступными способами ниже:</p>
          <div>
            <a href="tel:+78612002828" class="red-form__phone">
              <div class="point-mark point-mark_40 point-phone-red point-mark_light"></div>
              <p>+7 (861) 200-28-28</p>
            </a>
            <a href="#" class="red-form__link">
              <div class="point-mark point-tg point-mark_40 point-mark_light">
              </div>
              <p>Написать в Телеграм</p>
            </a>
          </div>
        </div>
      </div>
      <form class="form red-form__form">
        <div href="/" class="form__logo logo">
          <picture class="logo__picture">
            <source srcset="/assets/img/logo/logo.webp" type="image/webp">
            <source srcset="/assets/img/logo/logo.svg" type="image/svg+xml">
            <img src="/assets/img/logo/logo.png" alt="Логотип">
          </picture>
          <div class="logo__title">
            <span>Дней</span>
            <span>Реабилитационный центр</span>
          </div>
        </div>
        <div class="form__inputs">
          <input type="text" class="input" placeholder="Имя" name="params[text][]" required="">
          <input type="tel" class="input" placeholder="Номер телефона" name="params[phone][]" required="">
          <textarea rows="3" class="input" placeholder="Ваш вопрос" name="params[message][]" required=""></textarea>
        </div>
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Я соглашаюсь на переда чу персональных данных согласно <a href="/politika-konfidentsialnosti/"
              rel="nofollow">политике конфиденциальности</a> и <a href="#">пользовательскому соглашению</a></span>
        </label>
        <button href="#" class="btn form__btn btn_primary btn_point">
          <span>Задать вопрос</span>
        </button>
      </form>
    </div>
  </div>
</div>