<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Реабилитационный центр «28 дней»</title>
	<link rel="stylesheet" href="/assets/css/style.min.css">
	<link rel="stylesheet" href="/assets/css/build/fancybox.min.css">
	<link rel="stylesheet" href="/assets/css/build/swiper.css">
	<script src="/assets/js/build/fancybox.min.js" defer></script>
	<script src="/assets/js/build/swiper-bundle.min.js" defer></script>
	<script src="/assets/js/main.js" defer></script>
</head>
