<header class="header">
  <div class="content container">
    <div class="header__row">
      <div class="header__address">
        <div class="point-mark point-map">
        </div>
        <p class="header__address__container">
          <a class="header__address__title">Краснодар</a>, <span class="header__address__caption">ул. Красных
            Партизан, 105</span>
        </p>
      </div>
      <div class="header__anon">
        <div class="point-mark point-clock">
        </div>
        <p>
          Анонимный и круглосуточный прием, 24/7
        </p>
      </div>
      <div class="header__liz">
        <div class="point-mark point-liz">
        </div>
        <p>
          Медицинская лицензия № ЛО-23-01-012345
        </p>
      </div>
      <div class="header__phone">
        <div class="point-mark point-phone">
        </div>
        <div>
          <a class="header__phone__link phone_link" href="tel:+78612002828">+7 (861) 200-28-28</a>
          <p>
            Круглосуточный номер
          </p>
        </div>
      </div>
      <div class="header__social social-links">
        <a class="point-mark point-mark_light point-vk">
        </a>
        <a class="point-mark point-mark_light point-tg">
        </a>
        <button id="specialButton" class="point-mark point-mark_light point-eye">
        </button>
      </div>
    </div>
    <div class="header__row mobile">
      <a href="/" class="header__logo header__logo_mobile logo">
        <picture class="logo__picture">
          <source srcset="/assets/img/logo/logo.webp" type="image/webp">
          <source srcset="/assets/img/logo/logo.svg" type="image/svg+xml">
          <img src="/assets/img/logo/logo.png" alt="Логотип">
        </picture>
        <div class="logo__title">
          <span>Дней</span>
          <span>Реабилитационный центр</span>
        </div>
      </a>
      <div class="header__btns-container">
        <div class="social-links">
          <a class="point-mark point-mark_pr-light point-phone-red">
          </a>
          <a class="point-mark point-mark_pr-light point-vk">
          </a>
          <a class="point-mark point-mark_pr-light point-tg">
          </a>
        </div>
        <button class="menu__btn_mobile menu_btn point-mark point-mark_pr">
          <span></span><span></span><span></span>
        </button>
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list hide-items">
          <li class="menu__item hide-item">
            <button class="menu__item__button hide-item__title"><a class="menu__link menu_point"
                href="./service.html">Реабилитация</a></button>
            <div class="menu__subnav hide-item__height">
              <ul class="hide-item__content">
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
              </ul>
            </div>
          </li>
          <li class="menu__item hide-item">
            <button class="menu__item__button hide-item__title"><a class="menu__link menu_point"
                href="./service.html">Выездные услуги</a></button>
            <div class="menu__subnav hide-item__height">
              <ul class="hide-item__content">
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
              </ul>
            </div>
          </li>
          <li class="menu__item hide-item">
            <button class="menu__item__button hide-item__title"><a class="menu__link menu_point"
                href="./service.html">Лечение в стационаре</a></button>
            <div class="menu__subnav hide-item__height">
              <ul class="hide-item__content">
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="./service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Кодирование</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение наркомании</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
                <li class="menu__sublink"><a class="menu__link" href="/service.html">Лечение алкоголизма</a></li>
              </ul>
            </div>
          </li>
          <li class="menu__item"><a class="menu__link" href="./doctors.html">О клинике</a></li>
          <li class="menu__item"><a class="menu__link" href="./doctors.html">Врачи</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Цены</a></li>
          <li class="menu__item"><a class="menu__link" href="./doctors.html">Лицензии</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Отзывы</a></li>
          <li class="menu__item"><a class="menu__link" href="./contact.html">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__desc_mobile">
        <div class="header__phone">
          <div class="point-mark point-mark_pr-light point-phone-red">
          </div>
          <div>
            <a class="header__phone__link phone_link" href="tel:+78612002828">+7 (861) 200-28-28</a>
            <p>
              Круглосуточный номер
            </p>
          </div>
        </div>
        <div class="header__address">
          <div class="point-mark point-mark_pr-light point-map-red">
          </div>
          <p class="header__address__container">
            <a class="header__address__title">Краснодар</a>, <span class="header__address__caption">ул. Красных
              Партизан, 105</span>
          </p>
        </div>
        <div class="header__anon">
          <div class="point-mark point-mark_pr-light point-clock-red">
          </div>
          <p>
            Анонимный и круглосуточный прием, 24/7
          </p>
        </div>
        <div class="header__liz">
          <div class="point-mark point-mark_pr-light point-liz-red">
          </div>
          <p>
            Медицинская лицензия № ЛО-23-01-012345
          </p>
        </div>
      </div>
      <button class="btn btn_primary header_mobile__button mobile__button popup-btn" data-path="popup-consult">
        Заказать звонок
      </button>
    </div>
  </div>
</header>