<section class="intro">
  <div class="intro__inner container">
    <div class="intro__top to_animate left-fade">
      <div>
        <h1 class="main-title intro__title">Реабилитационный центр «28 дней»</h1>
        <p class="intro__desc">Профессиональная реабилитация и социализация по уникальной программе «28 Дней». Вернем
          стабильное будущее без зависимостей</p>
      </div>
      <div class="intro__btns">
        <button class="btn intro__btn btn_primary btn_point popup-btn" data-path="popup-consult">
          <span>Консультация врача</span>
        </button>
        <a href="#" class="btn intro__btn btn_tg btn_light">
          <span>Написать в Телеграм</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" fill="none">
            <path fill="#fff" fill-rule="evenodd"
              d="M16.1.1a1.4 1.4 0 0 1 1.4.2 1 1 0 0 1 .5 1.2l-2 12a1.8 1.8 0 0 1-2.6 1.3l-3.5-2c-.6-.4-2.5-1.6-2.3-2.5S11 6.7 12.8 5q.9-1.1-.5-.5C10.3 6.1 7 8.4 5.8 9q-1.3.8-2 .6l-3-.8c-1.1-.5-1-2 0-2.4z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="intro__advantages to_animate down-fade">
      <div class="intro__advantages--trans">
        <div class="point-mark point-mark_52 point-mark_light">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="26" fill="none">
            <path stroke="#C2185B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M8.5 25h-3C3 25 1 23 1 20.5v-15C1 3 3 1 5.5 1H16c2.5 0 4.5 2 4.5 4.5v3.8m-5.3 7.4v-1.4a2.3 2.3 0 0 1 4.6 0v2.2M15.2 7H5.6m5.3 4.5H5.5m3 4.5h-3m9 9h6c.8 0 1.5-.7 1.5-1.5V19c0-.8-.7-1.5-1.5-1.5h-6c-.8 0-1.5.7-1.5 1.5v4.5c0 .8.7 1.5 1.5 1.5Z" />
          </svg>
        </div>
        <p>Лицензированный реабилитационный центр в Краснодаре</p>
      </div>
      <div>
        <div class="point-mark point-mark_52">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="none">
            <path stroke="#C2185B" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.8 4.4h5.9m-3 9 6.2 5.2c.3.3.8 0 .8-.4V2.8c0-1.1-1-2-2.1-2H2.9C1.7.8.8 1.6.8 2.8v15.4c0 .5.5.7.8.4l6.1-5.2Z"/>
          </svg>
        </div>
        <p>100% анонимная помощь без огласки</p>
      </div>
      <div>
        <div class="point-mark point-mark_52 point-clock-red"></div>
        <p>Прием круглосуточно
          и каждый день, 24/7</p>
      </div>
      <div>
        <div class="point-mark point-mark_52">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="26" fill="none">
            <path stroke="#C2185B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M14.8 1v4.5c0 .8.7 1.5 1.6 1.5H21M6.4 7h3m-3 4.5h9.2M6.4 16h9.2m3-12.8-1.8-1.7c-.2-.3-.7-.5-1.1-.5H4.1A3 3 0 0 0 1 4v18a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6.1c0-.4-.2-.8-.4-1-.5-.5-1.4-1.4-2-1.8Z" />
          </svg>
        </div>
        <p>Подтвержденная лицензия МЗ РФ</p>
      </div>
      <div>
        <div class="point-mark point-mark_52">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none">
            <path stroke="#C2185B" stroke-linejoin="round" stroke-width="2"
              d="M13 8.3c0 2.2-1.5 3.7-3.4 3.7-2 0-3.5-1.5-3.5-3.7s1.6-3.5 3.5-3.5c2 0 3.5 1.3 3.5 3.5ZM18.6 21c0 2.2-2.7 4-8.8 4C3.7 25 1 23.2 1 21c0-2.4 4-4.2 8.8-4.2 4.9 0 8.8 1.8 8.8 4.1Zm2.2-20 1.3 2.7L25 4l-2.2 2 .6 2.9-2.6-1.4-2.6 1.4.6-2.9-2.2-2 3-.3L20.8 1Z" />
          </svg>
        </div>
        <p>Опытные врачи с большим стажем работы</p>
      </div>
    </div>
    <picture class="intro__pic">
      <source media="(max-width: 701px)" srcset="/assets/img/sections/intro-mini.webp" type="image/webp">
      <source srcset="/assets/img/sections/intro.webp" type="image/webp">
      <img src="/assets/img/sections/intro.png" alt="Врачи центра">
    </picture>
  </div>
</section>