<div class="offers container_b">
  <div class="container">
    <div class="offers__inner">
      <div class="offers__left">
        <div class="section-title offers__title">
          <div><span>Акции</span><span>Обновлено сегодня</span></div>
          <h2>Специальные предложения центра</h2>
        </div>
        <a href="#" class="btn offers__link btn_primary btn_point">
          <span>Все акции</span>
        </a>
        <picture class="offers__picture">
          <source srcset="/assets/img/sections/offers-bg.webp" type="image/webp">
          <img src="/assets/img/sections/offers-bg.png" alt="Акции клиники">
        </picture>
      </div>
      <div class="offers__right">
        <div class="offers__list">
          <btn data-path="popup-consult" class="offers__item popup-btn">
            <span class="offers__item__title">Первичная консультация — бесплатно</span>
            <span class="offers__item__desc">Прием ведущего врача-нарколога и составление плана реабилитации без оплаты.</span>
            <span class="offers__item__date">До 30 июня</span>
            <span class="offers__item-btn point-mark point-mark_40"></span>
          </btn>
          <btn data-path="popup-consult" class="offers__item popup-btn">
            <span class="offers__item__title">Скидка 15% на курс «28 дней»</span>
            <span class="offers__item__desc">Прием ведущего врача-нарколога и составление плана реабилитации без оплаты.</span>
            <span class="offers__item__date">До 30 июня</span>
            <span class="offers__item-btn point-mark point-mark_40"></span>
          </btn>
          <btn data-path="popup-consult" class="offers__item popup-btn">
            <span class="offers__item__title">Трансфер до центр — 0 ₽</span>
            <span class="offers__item__desc">Прием ведущего врача-нарколога и составление плана реабилитации без оплаты.</span>
            <span class="offers__item__date">Круглосуточно</span>
            <span class="offers__item-btn point-mark point-mark_40"></span>
          </btn>
        </div>
      </div>
    </div>
  </div>
</div>