<button id="toTop" class="btn_top point-mark_64 active">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="none"><path stroke="#c2185b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m.8 7.4 7-6.6m0 0 7 6.6M7.8.8v16"/></svg>
  </div>
</button>

<noindex class="bottom-info__wrapper cookie-policy">
    <div class="bottom-info">
        <span class="bottom-info__content">Этот сайт использует файлы cookies для более комфортной работы пользователя. К сайту подключен сервис <a href="#" target="_blank" rel="nofollow">Яндекс.Метрика</a>. Продолжая просмотр страниц сайта, вы соглашаетесь на обработку персональных данных в соответствии с <a href="#" target="_blank" rel="nofollow">Политикой обработки персональных данных</a>, <a href="#" target="_blank" rel="nofollow">Пользовательским соглашением</a>, <a href="#" target="_blank" rel="nofollow">Политикой конфиденциальности</a></span>
        <div class="bottom-info__action">
            <button class="bottom-info__button-agree">Принять</button>
        </div>
    </div>
</noindex>

<div class="popup" data-target="popup-consult">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup"></button>

      <p class="popup__title main-title">
        Бесплатная консультация специалиста — <span><br>это первый шаг!</span>
      </p>
      <p class="popup__subtitle">
        Оставьте заявку, и наш эксперт свяжется с вами, чтобы помочь подобрать решение и обсудить вашу ситуацию
      </p>

      <forms class="popup__form">
        <input type="tel" class="input" name="params[phone][]" placeholder="+7(999) 999-99-99" required="">
        <button type="submit" class="btn btn_consult popup__button popup-btn btn_accent">
          <span>записаться</span>
          <div class="point-mark"><span></span><span></span></div>
        </button>
        <label class="checkbox">
          <input type="checkbox" checked="checked">
          <span class="checkbox-mark"></span>
          <span>Нажимая кнопку я соглашаюсь с <a href="#">политикой конфединциальности</a> и <a
              href="#">пользовательским соглашением</a></span>
        </label>
      </forms>
      <span class="popup__separation"></span>
      <div class="popup__bottom">
        <div class="popup__bottom-column">
          <p>Или свяжитесь с нами самостоятельно</p>
          <a href="tel:+79999999999">+7 (999) 999-99-99</a>
        </div>
        <div class="popup__bottom-column">
          <a href="#" target="_blank" class="point-mark btn_social point-tg">
          </a>
          <a href="+799999999999" class="point-mark btn_social point-tel">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  /* yandex map */
  const map = document.querySelectorAll('#map');
  if (map.length > 0) {
    function onEntryMap(e) {
      e.forEach(e => {
        e.isIntersecting && loadMap() && initMap();
      })
    }
    let options = {
      threshold: [0.5],
    },
      observer = new IntersectionObserver(onEntryMap, options)
    for (let e of map) observer.observe(e)
  }
  function loadMap() {
    if (!document.querySelector('[src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"]')) {
      const script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';
      script.onload = initMap;
      document.head.appendChild(script);
    }
  }
  function initMap() {
    ymaps.ready(function () {
      const myMap = new ymaps.Map('map', {
        center: [45.056059, 38.931349],
        zoom: 15,
        controls: []
      });
      const myPlacemark = new ymaps.Placemark(
        [45.056059, 38.931349],
        {
          hintContent: 'г. Краснодар, улица Красных Партизан, 6/2к1',
          balloonContent: 'г. Краснодар, улица Красных Партизан, 6/2к1'
        },
      );
      myMap.geoObjects.add(myPlacemark);
      myMap.behaviors.disable(['scrollZoom']);
    });
  }
  /* end yandex map */
</script>