<div class="converse-card">
  <div class="container converse-card__container">
    <a href="tel:+78612002828" class="point-mark converse-card__item">
      <div class="point-mark">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="none">
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M17 6.1h-4.8m0 0V2m0 4.2L17.8.8m-1 14-1.4 1.3a2 2 0 0 1-1.6.6h-.2q-1.8-.1-3.2-.9a19 19 0 0 1-9.2-9.5Q.6 4.8.8 3.7q0-.7.5-1.2l1.5-1.4.6-.3q.4 0 .6.3 0 0 0 0l.8.8.4.4 1.1 1q.6.7 0 1.3l-.4.4-.4.4q0 0 0 0-.5.5-.2 1 0 0 0 0 .4 1 1.3 2h0q1.8 2.1 3.7 3.4l.6.2.4.2q0 0 0 0l.4.2q.6 0 .7-.3l.8-.8q.1-.2.6-.3l.6.3 2.3 2.2c.4.4 0 1.3 0 1.3" />
        </svg>
      </div>
      <p>Обратный звонок</p>
    </a>
    <btn class="point-mark converse-card__item">
      <div class="point-mark">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M2.5 7.9a7.1 7.1 0 1 1 13.6 2.8l.6 4.3-3.6-1a7 7 0 0 1-3.5 1M.8 12.3q0 1 .3 1.8l-.4 2.6 2.3-.5q1 .5 2.2.6a4.4 4.4 0 1 0-4.4-4.5" />
        </svg>
      </div>
      <p>Онлайн-чат</p>
    </btn>
    <a href="#" class="point-mark converse-card__item">
      <div class="point-mark">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="m4.3 13.3 9-9M5.8 7.8v-2m0 0v-2m0 2h-2m2 0h2m2 6.5h4M2.8 16.7h11.7c1.2 0 2.2-1 2.2-2.1V2.9q-.2-2-2.2-2.1H2.9C1.7.8.8 1.8.8 2.9v11.7c0 1.2 1 2.2 2.1 2.2" />
        </svg>
      </div>
      <p>Обратный звонок</p>
    </a>
  </div>
</div>
<button class="point-mark converse-card__button converse-card__button_plus converse-card__button--active">
  <span class="point-mark">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
      <path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M14.8 7.8h-7m0 0h-7m7 0v7m0-7v-7" />
    </svg>
  </span>
</button>

<button id="toTop" class="btn_top point-mark_64 active">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="none">
      <path stroke="#c2185b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="m.8 7.4 7-6.6m0 0 7 6.6M7.8.8v16" />
    </svg>
  </div>
</button>

<noindex class="bottom-info__wrapper cookie-policy">
  <div class="bottom-info">
    <span class="bottom-info__content">Этот сайт использует файлы cookies для более комфортной работы пользователя. К
      сайту подключен сервис <a href="#" target="_blank" rel="nofollow">Яндекс.Метрика</a>. Продолжая просмотр страниц
      сайта, вы соглашаетесь на обработку персональных данных в соответствии с <a href="#" target="_blank"
        rel="nofollow">Политикой обработки персональных данных</a>, <a href="#" target="_blank"
        rel="nofollow">Пользовательским соглашением</a>, <a href="#" target="_blank" rel="nofollow">Политикой
        конфиденциальности</a></span>
    <div class="bottom-info__action">
      <button class="bottom-info__button-agree">Принять</button>
    </div>
  </div>
</noindex>

<div class="popup" data-target="popup-consult">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup"></button>

      <p class="popup__title main-title">
        Бесплатная консультация специалиста — <span><br>это первый шаг!</span>
      </p>
      <p class="popup__subtitle">
        Оставьте заявку, и наш эксперт свяжется с вами, чтобы помочь подобрать решение и обсудить вашу ситуацию
      </p>

      <forms class="popup__form">
        <input type="tel" class="input" name="params[phone][]" placeholder="+7(999) 999-99-99" required="">
        <button type="submit" class="btn btn_consult popup__button popup-btn btn_accent">
          <span>записаться</span>
          <div class="point-mark"><span></span><span></span></div>
        </button>
        <label class="checkbox">
          <input type="checkbox" checked="checked">
          <span class="checkbox-mark"></span>
          <span>Нажимая кнопку я соглашаюсь с <a href="#">политикой конфединциальности</a> и <a
              href="#">пользовательским соглашением</a></span>
        </label>
      </forms>
      <span class="popup__separation"></span>
      <div class="popup__bottom">
        <div class="popup__bottom-column">
          <p>Или свяжитесь с нами самостоятельно</p>
          <a href="tel:+79999999999">+7 (999) 999-99-99</a>
        </div>
        <div class="popup__bottom-column">
          <a href="#" target="_blank" class="point-mark btn_social point-tg">
          </a>
          <a href="+799999999999" class="point-mark btn_social point-tel">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  /* yandex map */
  const map = document.querySelectorAll('#map');
  if (map.length > 0) {
    function onEntryMap(e) {
      e.forEach(e => {
        e.isIntersecting && loadMap() && initMap();
      })
    }
    let options = {
      threshold: [0.5],
    },
      observer = new IntersectionObserver(onEntryMap, options)
    for (let e of map) observer.observe(e)
  }
  function loadMap() {
    if (!document.querySelector('[src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"]')) {
      const script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';
      script.onload = initMap;
      document.head.appendChild(script);
    }
  }
  function initMap() {
    ymaps.ready(function () {
      const myMap = new ymaps.Map('map', {
        center: [45.056059, 38.931349],
        zoom: 15,
        controls: []
      });
      const myPlacemark = new ymaps.Placemark(
        [45.056059, 38.931349],
        {
          hintContent: 'г. Краснодар, улица Красных Партизан, 6/2к1',
          balloonContent: 'г. Краснодар, улица Красных Партизан, 6/2к1'
        },
      );
      myMap.geoObjects.add(myPlacemark);
      myMap.behaviors.disable(['scrollZoom']);
    });
  }
  /* end yandex map */
</script>