<section class="price container_b">
  <div class="container">
    <div class="section-title">
      <span>Цены</span>
      <h2>Честная стоимость на эффективные услуги</h2>
    </div>
  </div>
  <div class="price__wrapper">
    <div class="price__inner">
      <div class="price__categories">
        <div class="price__categories__top">
          Реабилитация
        </div>
        <div class="price__categories__bottom">
          <div class="price__category">Реабилитация</div>
          <div class="price__category">Лечение в стационаре</div>
          <div class="price__category">Выездные услуги</div>
        </div>
      </div>
      <div class="price__content">
        <div class="price__list">
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>VIP-реабилитация</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Постреабилитационное сопровождение</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
        </div>
        <div class="price__list">
          <div class="price__item">
            <p>ЫЫЫЫ Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>VIP-реабилитация</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Постреабилитационное сопровождение</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
        </div>
        <div class="price__list">
          <div class="price__item">
            <p>sssКурс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>VIP-реабилитация</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Постреабилитационное сопровождение</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
          <div class="price__item">
            <p>Курс «28 дней» (все включено)</p>
            <span>от 45 000 ₽</span>
            <button class="btn price__btn popup-btn btn_point" data-path="popup-consult">
              <span>Заказать</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn price__link btn_primary btn_point">
      <span>Все цены</span>
    </a>
  </div>
</section>