<div class="reviews reviews-sl container_b">
  <div class="container">
    <div class="section-title">
      <span>Обратная связь</span>
      <h2>Реальные истории выздоровления</h2>
    </div>
    <div class="reviews__inner reviews__slider">
      <div class="reviews__list">
        <div class="reviews__item swiper-slide">
          <div>
            <div class="reviews__content">
              <p>"Привозили сына на реабилитацию 28 дней. Очень понравилось, что работают не только с пациентом, но и с
                родителями. Мы теперь знаем, как поддерживать трезвость."</p>
              <button class="btn reviews__btn-more">Смотреть полностью</button>
            </div>
            <div class="reviews__info">
              <div>
                <div class="reviews__rating">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <span class="reviews__date">12.04.2025</span>
              </div>
              <p class="reviews__name">Кравцова Милена Витальевна</p>
              <p class="reviews__exp">35 лет, Ростов-на-дону</p>
              <div class="reviews__adv">
                <span>Лечение от алкоголизма</span><span>Чист 12 месяцев</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <div>
            <div class="reviews__content">
              <p>"Привозили сына на реабилитацию 28 дней. Очень понравилось, что работают не только с пациентом, но и с
                родителями. Мы теперь знаем, как поддерживать трезвость."</p>
              <button class="btn reviews__btn-more">Смотреть полностью</button>
            </div>
            <div class="reviews__info">
              <div>
                <div class="reviews__rating">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <span class="reviews__date">12.04.2025</span>
              </div>
              <p class="reviews__name">Кравцова Милена Витальевна</p>
              <p class="reviews__exp">35 лет, Ростов-на-дону</p>
              <div class="reviews__adv">
                <span>Лечение от алкоголизма</span><span>Чист 12 месяцев</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <div>
            <div class="reviews__content">
              <p>"Привозили сына на реабилитацию 28 дней. Очень понравилось, что работают не только с пациентом, но и с
                родителями. Мы теперь знаем, как поддерживать трезвость."</p>
              <button class="btn reviews__btn-more">Смотреть полностью</button>
            </div>
            <div class="reviews__info">
              <div>
                <div class="reviews__rating">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <span class="reviews__date">12.04.2025</span>
              </div>
              <p class="reviews__name">Кравцова Милена Витальевна</p>
              <p class="reviews__exp">35 лет, Ростов-на-дону</p>
              <div class="reviews__adv">
                <span>Лечение от алкоголизма</span><span>Чист 12 месяцев</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <div>
            <div class="reviews__content">
              <p>"Привозили сына на реабилитацию 28 дней. Очень понравилось, что работают не только с пациентом, но и с
                родителями. Мы теперь знаем, как поддерживать трезвость."</p>
              <button class="btn reviews__btn-more">Смотреть полностью</button>
            </div>
            <div class="reviews__info">
              <div>
                <div class="reviews__rating">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <span class="reviews__date">12.04.2025</span>
              </div>
              <p class="reviews__name">Кравцова Милена Витальевна</p>
              <p class="reviews__exp">35 лет, Ростов-на-дону</p>
              <div class="reviews__adv">
                <span>Лечение от алкоголизма</span><span>Чист 12 месяцев</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item swiper-slide">
          <div>
            <div class="reviews__content">
              <p>"Привозили сына на реабилитацию 28 дней. Очень понравилось, что работают не только с пациентом, но и с
                родителями. Мы теперь знаем, как поддерживать трезвость."</p>
              <button class="btn reviews__btn-more">Смотреть полностью</button>
            </div>
            <div class="reviews__info">
              <div>
                <div class="reviews__rating">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <span class="reviews__date">12.04.2025</span>
              </div>
              <p class="reviews__name">Кравцова Милена Витальевна</p>
              <p class="reviews__exp">35 лет, Ростов-на-дону</p>
              <div class="reviews__adv">
                <span>Лечение от алкоголизма</span><span>Чист 12 месяцев</span>
              </div>
            </div>
          </div>
        </div>
        <a class="reviews__item_more">
          <p>Смотреть все</p>
        </a>
      </div>
      <div class="swiper-pagination"></div>
      <a href="#" class="btn reviews__link reviews__item_more">
        Смотреть все
      </a>
    </div>
  </div>
</div>