<section class="steps">
  <div class="container">
    <div class="section-title to_animate right-fade">
      <span>Наш подход</span>
      <h2>Этапы реабилитации 
        в нашем центре</h2>
    </div>
    <div class="steps__inner">
      <div>
        <p class="steps__title">Детоксикация</p>
        <p class="steps__desc">Снятие физической зависимости
под наблюдением</p>
      </div>
      <div>
        <p class="steps__title">Мотивация</p>
        <p class="steps__desc">Формирование устойчивого 
желания лечиться</p>
      </div>
      <div>
        <p class="steps__title">Реабилитация</p>
        <p class="steps__desc">Курс психотерапии 
по система «28 дней»</p>
      </div>
      <div>
        <p class="steps__title">Адаптация</p>
        <p class="steps__desc">Восстановление навыков 
социальной жизни</p>
      </div>
      <div>
        <p class="steps__title">Пост-сопровождение</p>
        <p class="steps__desc">Пожизненная поддержка наших выпускников</p>
      </div>
      <div>
        <p class="steps__title">Вам необходима помощь? Запишитесь на консультацию к нашим специалистам</p>
        <button class="btn btn_white steps__button popup-btn" data-path="popup-consult">
          Записаться на консультацию
        </button>
      </div>
    </div>
  </div>
</section>